@import 'styles/vars.scss';

.checkout_nav {
  background-color: $white;
  box-shadow: 0px 15px 30px rgba(81, 123, 190, 0.149312);
  border-radius: 10px;
  margin-bottom: em(16px);
  color: #40445B;
  padding: em(21px) em(32px) em(19px) em(32px);
  margin-top: em(23px);

  &__step {
    display: inline-block;
    position: relative;
    padding: 0 em(25px);

    .arrow {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      left: 0;
    }

    &:first-child {
      .arrow {
        display: none;
      }
    }

    &__inner {
      padding-left: 36px;
      position: relative;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #40445B;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 0;
        opacity: .3;
        border-radius: 50%;
      }

      .icon {
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: 6px;
      }
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .active {
    .checkout_nav {
      &__step {
        &__inner {
          &:before {
            background-color: #45C793;
            border-color: #45C793;
            opacity: 1;
          }
        }
      }
    }
  }

  &__num {
    font-size: 9px;
    line-height: 9px;
    opacity: .5;
    font-weight: bold;
    margin-bottom: 4px;

    span {
      display: inline-block;
      padding-left: 3px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
  }
}
