.tracking {
  &__activitys {
    margin-top: 20px;
  }

  &__activity {
    margin-bottom: 20px;
    opacity: 0.75;

    &__header {
      color: #40445B;

      .tracking__value {
        font-weight: normal;
      }
    }

    &.active {
      opacity: 1;
    }

  }
}
