.color-main {
  color: $main_color;
}

.rotate__180 {
  transform: rotateZ(180deg) rotateY(180deg);
}

.steenify_title {
  font-family: $title, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: em(32px);
  line-height: em(44px, 32px);
  color: $title_color;
  margin-bottom: 0;
}

.steenify__trainsition {
  transition: all 0.3s ease-in-out;
}

.steenify_btn {
  display: inline-flex;
  margin-bottom: 0;
  background: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: em(15px);
  font-size: $font_size;
  line-height: 1.4;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;

  &__link {
    border: none;
    background: none;

    &:hover {
      border: none;
    }
  }

  &__main {
    background: $main_color;
    color: $white;
    border-radius: 23px;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
      color: $white;
    }
  }

  &__white {
    background: $white;
    color: $main_color;
    border-radius: 23px;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
      color: $main_color;
      border-color: $white;
    }
  }

  &__secondary {
    background: $white;
    color: $main_color;
    border-radius: 23px;
    border-color: $main_color;

    &:hover,
    &:focus,
    &:active {
      background: $main_color;
      color: $white;
    }
  }
}

.transition-fade-up {
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
  transform: translateZ(0);
}

html.is-animating .transition-fade-up {
  opacity: 0;
  transform: translate3d(-100px, 100px, 0);
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.slick-dots {
  margin: 0;

  button {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b8bbc3;
    margin: 0 8px;
  }

  .slick-active {
    button {
      width: 10px;
      height: 10px;
      background-color: #003399;
    }
  }
}

body {
  position: relative;
}
