// size
$fullWidth: 100%;

// font
$font: 'Josefin Sans';
$font_roman: 'Josefin Sans';
$title: 'Josefin Sans';

// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;


// web color
$main_color: #2E469D;
$second_color: #2E469D;
$text_color: #40445B;
$title_color: #40445B;
$border_color: #e6e6e6;
$web_bg: #F3F5F7;


@import './mixin.scss';
