@import 'styles/vars.scss';

.home_hero {
  font-size: $font_size;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: em(42px);
  padding-top: em(100px);
  padding-bottom: em(200px);
  // margin-bottom: em(130px);
  position: relative;
  // overflow: hidden;

  &__content {
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__title {
    font-weight: bold;
    font-size: em(48px);
    line-height: em(48px, 48px);
    text-align: center;
    letter-spacing: -1.14286px;
    color: #40445B;
    margin-bottom: em(25px, 48px);
  }

  &__sub {
    font-size: em(24px);
    line-height: em(24px, 24px);
    text-align: center;
    letter-spacing: -0.571429px;
    color: #B5BDC7;
    margin-bottom: em(53px, 24px);
  }

  &__btn {
    padding: 15px 32px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: $white;

    svg {
      margin-top: -4px;
      margin-right: 5px;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;

    &__1 {
      top: 0;
      left: 0;
      -webkit-animation: home_hero__icon__1 80s infinite;
      animation: home_hero__icon__1 80s infinite;
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
      -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
      transform: rotateZ(0deg) translate3d(0, 0, 0);
    }

    &__2 {
      bottom: 0;
      right: 0;
      -webkit-animation: home_hero__icon__2 60s infinite;
      animation: home_hero__icon__2 60s infinite;
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
      -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
      transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
  }

  @include max-sm() {
    font-size: $font_size_xm;
    margin-bottom: em(30px);

    &__icon {
      &__2 {
        display: none;
      }
    }
  }
}


@-webkit-keyframes home_hero__icon__1 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: rotateZ(-45deg) translate3d(50px, 50px, 0);
    transform: rotateZ(-45deg) translate3d(50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
}

@keyframes home_hero__icon__1 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: rotateZ(-45deg) translate3d(50px, 50px, 0);
    transform: rotateZ(-45deg) translate3d(50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes home_hero__icon__2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
    transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(-45deg) translate3d(0, -50px, 0);
    transform: rotateZ(-45deg) translate3d(0, -50px, 0);
  }
}

@keyframes home_hero__icon__2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
    transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(-45deg) translate3d(0, -50px, 0);
    transform: rotateZ(-45deg) translate3d(0, -50px, 0);
  }
}
