@import 'styles/vars.scss';

.checkout_settup {
  font-size: $font_size;
  background: $white;
  box-shadow: 0px 15px 30px rgba(81, 123, 190, 0.149312);
  border-radius: 10px;

  &__content {
    padding: em(40px)
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.666667px;
    color: #40445B;
    margin-bottom: 40px;
  }

  &__header {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.3125px;
    color: #40445B;
    margin-bottom: 0;

    span {
      color: #B5BDC7;
      padding-left: 3px;
    }
  }

  &__item {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CBD1E7;

    &:last-child {
      border-bottom: none;
    }
  }

  &__img {
    padding-right: 40px;

    img,
    svg {
      height: 200px;
      border-radius: 5px;
      object-fit: cover;
      width: 100%;
    }
  }


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__close {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #E35656;
    border: none;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__types {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px dashed #40445B;
  }

  &__type {
    border: 1px solid #CBD1E7;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 16px;
    background: $white;

    &.active {
      background: $main_color;
      color: $white;
      border: 1px solid $main_color;
    }
  }

  &__bottom {
    display: none;

    &.active {
      display: block;
    }

    .checkout_settup__header {
      margin-bottom: 20px;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CBD1E7;
    padding-bottom: 10px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__control {
    background: $white;
    border: 2px solid $main_color;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_color;
  }

  &__quantity {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.375px;
    color: $main_color;
  }

  &__total {
    text-align: right;

    strong {
      display: block;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      letter-spacing: 5px;
      color: #40445B;
      opacity: 0.5;
      margin-bottom: 5px;
    }

    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.458333px;
    color: #40445B;
  }

  &__name {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.3125px;
    color: #40445B;
  }

  &__quantiry {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.375px;
    color: #2E469D;
  }

  &__price {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.3125px;
    color: #40445B;
  }

  &__footer {
    border-top: 1px solid #A9AED3;
    padding: 30px 40px;
  }

  &__grand {
    span {
      font-size: 11px;
      line-height: 1;
      letter-spacing: 1.5px;
      color: #40445B;
      opacity: 0.5;
    }

    strong {
      display: block;

      span {
        font-weight: bold;
        font-size: 40px;
        line-height: 1;
        color: #40445B;
        opacity: 1;
      }

      small {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: initial;
        line-height: 16px;
        color: #40445B;
      }
    }
  }

  &__default,
  &__customs {
    display: none;

    &.active {
      display: block;
    }
  }

  &__custom {
    margin-bottom: 15px;
  }
}
