@-webkit-keyframes tracking__icon__2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
    transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(-45deg) translate3d(0, -50px, 0);
    transform: rotateZ(-45deg) translate3d(0, -50px, 0);
  }
}

@keyframes tracking__icon__2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
    transform: rotateZ(0deg) translate3d(-50px, 50px, 0);
  }

  100% {
    -webkit-transform: rotateZ(-45deg) translate3d(0, -50px, 0);
    transform: rotateZ(-45deg) translate3d(0, -50px, 0);
  }
}

.tracking {
  &__page {
    font-size: $font_size;
    position: relative;
    z-index: 2;

    .container {
      position: relative;
      z-index: 3;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;

    &__2 {
      top: 0;
      right: 0;
      -webkit-animation: tracking__icon__2 60s infinite;
      animation: tracking__icon__2 60s infinite;
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
      -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
      transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
  }

  &__container {
    max-width: 768px;
    padding: 40px;
    margin: auto;
    position: relative;
    background: $white;
    box-shadow: 0px 15px 30px rgba(81, 123, 190, 0.149312);
    border-radius: 10px;
    margin-top: em(40px);
    margin-bottom: em(40px);
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.666667px;
    color: #40445B;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.3125px;
    color: #40445B;
    opacity: 0.5;
    margin-right: 15px;
  }

  &__value {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    color: #40445B;
  }

  &__price {
    strong {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      text-align: right;
      color: #40445B;
    }

    span {
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      text-align: right;
      color: #40445B;
    }
  }

  &__images {
    border-top: 1px dashed #40445B;
    padding-top: 40px;
  }

  &__name {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #40445B;
    opacity: 0.25;
  }

  &__img {
    border-radius: 5px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  &__activitys {
    margin-top: 20px;
  }

  &__activity {
    margin-bottom: 20px;
    opacity: 0.75;

    &__header {
      color: #40445B;

      .tracking__value {
        font-weight: normal;
      }
    }

    &.active {
      opacity: 1;
    }

  }

  @include max-sm() {
    &__container {
      padding: 40px 15px;
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@import './tracking_nav.scss';
